body{
    height: 100%;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
$white:#ffffff;

.page-contain{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow: auto;
}
.page-content{
    height: 100px;
}